header {
  max-width: 1140px;
  margin: 0 auto;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
footer {
  max-width: 1440px;
  margin: 0 auto;
}
/* shared Style*/
.display-flex {
  display: flex;
}
.color {
  color: rgb(233, 90, 8);
}

/* nav related style*/

.left-nav img {
  width: 135px;
  height: 82px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}
.list-item {
  list-style: none;
  gap: 10px;
}
.list-item a {
  text-decoration: none;
  color: rgb(137, 135, 161);
  font-size: 1rem;
  font-weight: 400;
}
.icon-item {
  align-items: center;
  margin-left: 10px;
}
#Home {
  color: black;
  font-size: 1rem;
  font-weight: 700;
}
/* banner related style*/
.banner {
  max-height: 460px;
  align-items: flex-end;
  margin-top: 100px;
}
.banner-right img {
  max-width: 570px;
  max-height: 355px;
}
.banner-left h1 {
  font-size: 4rem;
  font-weight: 700;
}
.banner-left p {
  font-size: 1.37rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/* out plants related style*/

.Article-part {
  text-align: center;
}
.Article-part h2 {
  font-size: 3.125rem;
  font-weight: 700;
}
.Article-part p {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.card {
  max-width: 270px;
  max-height: 484.94px;
  text-align: center;
}
.card h4 {
  font-size: 1.375rem;
  font-weight: 500;
}
.card h3 {
  font-size: 1.375rem;
  font-weight: 700;
}
.card button {
  width: 270px;
  height: 50px;

  background-color: rgb(233, 90, 8);
  border: none;
  color: white;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.card-side {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  margin-top: 50px;
}

/*flower plants related style*/
.flower-plants {
  margin-top: 200px;
}
.flower-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flower-right h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  margin: 0px;
  padding: 0px;
}
.flower-right li {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin: 20px 60px 0px;
}

#subscribe-section {
  max-width: 1440px;
  height: 500px;

  margin: 0 auto;
  background-image: url(/backgroundimage.png);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.subscribe-content h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}
.subscribe-form input {
  width: 644px;
  height: 50px;
  padding: 8px 20px;
  border: none;
}
.subscribe-form button {
  border: none;
  padding: 24px 35px;
  font-size: 16px;
  margin-left: -5px;
  font-weight: 600;
  color: white;
  background-color: rgb(233, 90, 8);
}

/* footer related style*/
.footer-content {
  justify-content: space-around;
  margin-top: 50px;
  background-color: azure;
}
.logo-part {
  width: 350px;
  height: 178px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0px;
}

.logo-part img {
  width: 135px;
  height: 82px;
  margin-left: 0px;
  padding: 0px;
}
.logo-part p {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5);
}
.ul-item {
  height: 100%;
}
.ul-item ul {
  list-style: none;
}
.ul-item a {
  text-decoration: none;
  color: rgb(107, 114, 128);
}
.ul-item li {
  margin-bottom: 30px;
}

.social-logo img {
  margin-right: 24px;
}
.social-logo,
.twitter {
  padding-bottom: 5px;
}

/*reponsive related style*/
@media screen and (max-width: 576px) {
  .list-item {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    max-height: 460px;
    align-items: center;
    margin-top: 350px;
  }
  .banner-right img {
    max-width: 100%;
  }

  .card-side {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 50px;
  }

  .flower-plants {
    flex-direction: column;
  }
  .subscribe-form input {
    width: 200px;
    height: 50px;
    padding: 8px 20px;
    border: none;
  }

  .footer-content {
    flex-direction: column;
  }

  .social-logo {
    margin-top: 15px;
    margin-left: 15px;
  }
  .social-logo,
  .twitter {
    padding-bottom: 5px;
    padding-left: 5px;
  }
}
